<footer class="page-footer font-small pt-4 pb-0">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md mt-md-0 mt-3 text-center text-white">
                <h5>Dolci da Matti | Home Made Sweets</h5>
                <img src="{{@site.logo}}" alt="DolciDaMatti" style="max-height: 65px;" />
            </div>
            <div class="col-md mb-md-0 mt-3 text-center text-white">
                <h5>Social</h5>
                <a href="" target="_blank"><img class="social-img" src="/img/social/instagram.svg" /></a>
                <a href="" target="_blank"><img class="social-img" src="/img/social/facebook.svg" /></a>
                <a href="" target="_blank"><img class="social-img" src="/img/social/twitter.svg" /></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center"> Copyright © 2019 Dolci da Matti</div>
</footer>