{{!< default}}

<div class="carousel slide" data-ride="carousel" id="carousel">
    <div class="carousel-inner">
        {{#foreach posts}}
        <div class="carousel-item {{#if @first}} active{{/if}}">
            <div class="hero d-block w-100"
                style="background: linear-gradient(transparent, transparent, #f7f7f761, #f5f0de), url({{feature_image}});">
            </div>
        </div>
        {{/foreach}}
    </div>
</div>
<div class="container text-center" id="main-content">
    <div id="recipe">
        <div class="title">
            <h1 class="text-uppercase">ultime ricette</h1>
        </div>
        <div class="row">
            {{#foreach posts}}
            <div class="col-md m-3 p-2">
                {{> post_card}}
            </div>
            {{/foreach}}
        </div>
    </div>
</div>

<!-- Pagination-->
<div class="container">
    {{pagination}}

</div>

<div id="who_we_are" class="p-3 m-3">
    <div class="title">
        <h1 class="text-uppercase">eccoci</h1>
    </div>
    {{#get "posts" filter="tags:eccoci"}}
    {{#foreach posts}}
    <div class="row">
        <div class="col-lg-6 d-block pt-3 pb-3">
            <img src="{{feature_image}}" class="wwa-img">
        </div>
        <div class="col-lg-6 d-block pt-3 pb-3">
            <p class="text-break text-left center-align w-100">
                {{content}}
            </p>
        </div>
    </div>
    {{/foreach}}
    {{/get}}

</div>