{{!< default}}
<div class="container text-center" id="main-content">
    <div id="recipe">
        <div class="title">
            <h1 class="text-uppercase">ultime ricette</h1>
        </div>
        <div class="row">
            {{#foreach posts}}
            <div class="col-md m-3 p-2">
                {{> post_card}}
            </div>
            {{/foreach}}
        </div>
    </div>
</div>

<!-- Pagination-->
<div class="container">
    {{pagination}}

</div>