{{!< default}}
<div class="container text-center">
    <div id="who_we_are" class="p-3 m-3">
        <div class="title">
            <h1 class="text-uppercase">contatti</h1>
        </div>
        <div class="row">
            <div class="col-lg d-block pt-3 pb-3">
                <h2 class="text-break text-left w-100 font-weight-bold p-3"> • Per info e collaborazioni contattaci qui: </h2>
                <p class="text-break w-100 font-weight-bold p-2"><a href="mailto:dolcidamatti@gmail.com" class="text-muted"><img src="/img/feather/mail.svg" alt="facebook">dolcidamatti@gmail.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg d-block pt-3 pb-3">
                <h2 class="text-break text-left w-100 font-weight-bold p-3">• Seguici su: </h2>
                <p class="text-break w-100 font-weight-bold p-2"><a href="https://facebook.com/DolcidaMatti/"><img src="/img/feather/facebook.svg" alt="facebook"> Dolci da Matti</a></p>
                <p class="text-break w-100 font-weight-bold p-2"><a href="https://www.instagram.com/dolcidamatti/"><img src="/img/feather/instagram.svg" alt="instagram"> @dolcidamatti</a></p>
                <p></p>
            </div>
        </div>
    </div>
</div>