{{!< default}}
<div class="container text-center">
    <div class="title mt-2 mb-2">
        <h1 class="text-uppercase">scegli il tuo tipo di dolce</h1>
    </div>
    <div class="row">
        {{#get "tags"}}
        {{#foreach tags}}
        <div class="col-lg m-3 p-2">
            <div class="card card-recipe bg-dark text-white">
                <img src="{{feature_image}}" class="card-img" alt="{{description}}">
                <div class="card-img-overlay">
                    <a href="{{url}}" class="text-muted d-block w-100 h-100">
                        <h5 class="card-title position-absolute m-0 center-align">{{name}}</h5>
                    </a>
                </div>
            </div>
        </div>
        {{/foreach}}
        {{/get}}
    </div>
</div>