{{!< default}}

{{#post}}
<article>
    <header class="post__background-image hero-background" style="background-image: url({{feature_image}});">
        <div class="post__background-imge-text">
            <h1 class="title has-text-white">{{title}}</h1>
            <time class="subtitle has-text-white">
                {{date format="DD MMMM YYYY"}}
            </time>
        </div>
    </header>
    <section>
        {{content}}
    </section>
</article>


{{/post}}