{{!< default}}
<div class="container text-center">
        <div class="title mt-2 mb-2">
            <h1 class="text-uppercase">scegli il tuo tipo di dolce</h1>
        </div>
        <div class="row">
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/baked_desserts.jpg" class="card-img" alt="baked_desserts">
                    <div class="card-img-overlay">
                        <a href="baked_desserts.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Dolci da forno</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/cake_design.jpg" class="card-img" alt="cake_design">
                    <div class="card-img-overlay">
                        <a href="cake_design.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Cake design</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/cookies.jpg" class="card-img" alt="Cookies">
                    <div class="card-img-overlay">
                        <a href="cookies.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Cookies</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/baked_desserts.jpg" class="card-img" alt="baked_desserts">
                    <div class="card-img-overlay">
                        <a href="baked_desserts.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Dolci da forno</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/cake_design.jpg" class="card-img" alt="cake_design">
                    <div class="card-img-overlay">
                        <a href="cake_design.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Cake design</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/cookies.jpg" class="card-img" alt="Cookies">
                    <div class="card-img-overlay">
                        <a href="cookies.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Cookies</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/baked_desserts.jpg" class="card-img" alt="baked_desserts">
                    <div class="card-img-overlay">
                        <a href="baked_desserts.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Dolci da forno</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/cake_design.jpg" class="card-img" alt="cake_design">
                    <div class="card-img-overlay">
                        <a href="cake_design.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Cake design</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg m-3 p-2">
                <div class="card card-recipe bg-dark text-white">
                    <img src="../img/coock_book/cookies.jpg" class="card-img" alt="Cookies">
                    <div class="card-img-overlay">
                        <a href="cookies.html" class="text-muted d-block w-100 h-100">
                            <h5 class="card-title position-absolute m-0 center-align">Cookies</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
